@import url("https://fonts.googleapis.com/css2?family=Chango&display=swap");

:root {
  --font-accent: "Chango", cursive;
}

/* Typograpy */

body {
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}

h1,
h2,
h3 {
  font-family: "Chango", cursive;
}

.title {
  font-family: "Chango", cursive;
  font-size: 4.5em;
}

@media screen and (max-width: 819px) {
  .title {
    font-size: 4em;
  }
}

@media screen and (max-width: 640px) {
  .title {
    font-size: 3em;
  }
}

@media screen and (max-width: 480px) {
  .title {
    font-size: 2.5em;
  }
}

.split {
  color: darkorange;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 2.5em;
}

.burger-image {
  font-size: 5rem;
}

/* Display Properties */

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: darkorange;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

button {
  background-color: transparent;
  color: white;
  display: inline-block;
  border: 0.16em solid white;
  margin: 0 0.3em;
  padding: 0.3em;
  text-decoration: none;
  font-weight: 900;
  text-align: center;
  text-transform: uppercase;
  transition: all 250ms ease-in-out;
}

button:hover {
  background-color: white;
  color: darkorange;
}

button:focus {
  background-color: rgba(255, 255, 255, 0.74);
}

li > button {
  background-color: transparent;
  color: darkorange;
  border: 0.16em solid darkorange;
  margin-top: 1vh;
}

li > button:hover {
  background-color: darkorange;
  color: white;
}

textarea {
  outline: none;
  resize: none;
  border: none;
  padding: 1vh 1vw;
  margin: 1vh 0;
}

textarea::placeholder {
  text-align: center;
}

ul {
  list-style: none;
}

.body-container {
  max-width: 695px;
}

.form-container {
  padding-top: 5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 10vh;
}

.form-container > h3 {
  padding-bottom: 2vh;
}

.form-group {
  display: flex;
  flex-direction: column;
}

.split {
  width: 100%;
  background-color: white;
  display: flex;
  justify-content: center;
}

.split > div {
  margin-inline: 5vw;
  margin-block: 2vh;
  position: relative;
}

.split > div > ul {
  margin: 2vh 0;
  margin-left: 2vw;
}

.title-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-block: 5vh;
}

@media screen and (max-width: 430px) {
  .title {
    font-size: 2em;
  }

  h3 {
    font-size: 1.5em;
  }

  .split {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .split > div {
    padding-block: 5vh;
  }

  .split > div > ul {
    margin-top: 2vh;
    margin-left: 2vw;
  }
}

@media screen and (min-width: 880px) {
  body {
    background-color: white;
  }

  .title-container,
  .form-container {
    background-color: darkorange;
    width: 880px;
    border-radius: 4px;
  }

  .form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
